# SPDX-License-Identifier: Apache-2.0

# Wallet Gateway maintainers (Default)
*                      @canton-network/wallet-gateway-admins @canton-network/wallet-maintainers

# Wallet Gateway admins
.github/*              @canton-network/wallet-admins
.vscode/*              @canton-network/wallet-admins
CODEOWNERS             @canton-network/wallet-admins
LICENSE                @canton-network/wallet-admins
